* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

main{
  background-color: #E9E8E8;
  min-height: 44.4em;
}

.container-fluid{
  min-height: 4em;
}

#logo {
  margin-bottom: 0.3em;
  max-width: 100%;
  max-height: 3em;
}
.navbar-toggler-icon {
  font-size: 0.8em;
}
.navbar-nav .nav-link {
  font-size: 1.2rem;
}
.navbar-dos {
  display: flex;
  justify-content: space-between;
  background-color: #913175;
  height: 4.8em;
  width: 100%;
  padding: 0 1rem;
}
.titulo{
  align-self: center;
  color: #E9E8E8;
}

.bi{
  color: #E9E8E8;
  font-size: 2.2em;
}
.bi:hover{
  color: black;
}

.icono{
  margin-inline: 5em;
 align-self: center;
}

.container-contact{
  min-width: 70%;
}

.card{
  max-width: 19rem;
  min-height: 28.6rem;
  margin: 1rem;
}
.card-img-top {
  height: 7.5rem;
  width: 16rem;
  object-fit: cover;
}
.card-title-main{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color:#BFAEC1;
  border-radius: 100vmax 100vmax 0vmax 0;
}
.card-text,.card-data{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 1vh;
  padding: 0.5vh;
  background-color: #F4B4F9;
}
.card-text{
  padding-inline: 0.3vw;
  min-height: 5rem;
}
.title-container{
  margin-top: 0.5rem;
  margin-inline: 1rem;
  padding-top: 1vh;
  border-radius: 100vmax;
  background-color: #E4DCE4;
}
.footer-card{
 display: flex;
 align-items: center;
}