* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;

}


html, body, main{
  min-height: 100vh;
} 

main{
  background-color: #E9E8E8;
}

.container-fluid{
  min-height: 4em;
}

#logo {
  margin-bottom: 0.3em;
  max-width: 100%;
  max-height: 3em;
}
.navbar-toggler-icon {
  font-size: 0.8em;
}

.navbar-nav{
  font-size: 1.2rem;
  align-items: center;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
}
.navbar-dos {
  display: flex;
  justify-content: space-between;
  background-color: #913175;
  height: 4.8em;
  width: 100%;
  padding: 0 1rem;
}
.titulo{
  align-self: center;
  color: #E9E8E8;
}

.bi{
  color: #E9E8E8;
  font-size: 2.2em;
}
.bi:hover{
  color: black;
}

.icono{
  margin-inline: 5em;
 align-self: center;
}

.lupita{
  border: 0;
  border-radius: 50%;
  background-color: #b64e96;
  font-size: 1.2em;
  width: 2.2rem;
  height: 2.2rem;
}

.search-container{
  margin-left: auto;
}

#search{
  border-radius: 4rem;
  height: 2rem;
}

.search input[type="text"] {
  text-align:left;
  padding: 0.3rem 1rem 0.4rem 1rem;
}

.table{
  height: 50rem;
}

.container-contact{
  min-width: 70%;
}

.contact-div, .stats-table{
  height: 100vh;
}

.card-container{
  min-height: 100vh;
}

.card{
  max-width: 19rem;
  min-height: 24,5;
  margin: 1rem;
}
.card-img-top {
  height: 7.5rem;
  width: 16rem;
  object-fit: cover;
}
.card-title-main{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color:#BFAEC1;
  border-radius: 100vmax 100vmax 0vmax 0;
}
.card-text,.card-data{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 1vh;
  padding: 0.5vh;
  background-color: #F4B4F9;
}
.card-text{
  padding-inline: 0.3vw;
  min-height: 5rem;
}
.title-container{
  margin-top: 0.5rem;
  margin-inline: 1rem;
  padding-top: 1vh;
  border-radius: 100vmax;
  background-color: #E4DCE4;
}

.footer-card{
 display: flex;
 align-items: center;
}

@media (max-width: 1060px){
  .seccion-formulario{
    flex-direction: column-reverse;
    justify-content: space-around;
  }
  .search-container{
    display: flex;
    margin-left: 0%;
  }
  .category-form{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px){
  .category-form{
    flex-direction: column;
    margin-top: 1rem;
  }
}
