* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

main{
  background-color: #E9E8E8;
  min-height: 44.4em;
}

.container-fluid{
  min-height: 4em;
}

#logo {
  margin-bottom: 0.3em;
  max-width: 100%;
  max-height: 3em;
}
.navbar-toggler-icon {
  font-size: 0.8em;
}
.navbar-nav .nav-link {
  font-size: 1.2rem;
}
.navbar-dos {
  display: flex;
  justify-content: space-between;
  background-color: #913175;
  height: 4.8em;
  width: 100%;
  padding: 0 1rem;
}
.titulo{
  align-self: center;
  color: #E9E8E8;
}

.bi{
  color: #E9E8E8;
  font-size: 2.2em;
}
.bi:hover{
  color: black;
}

.icono{
  margin-inline: 5em;
 align-self: center;
}

.card{
  max-width: 19rem;
}
.card-img-top {
  height: 10rem;
  width: 16rem;
  object-fit: cover;
}

